footer.footer
  .footer__logo
    //- img(src='/img/logo-green.png' alt='Natour logo')
  ul.footer__nav
    li: a(href='#') Acerca de nosotros
    li: a(href='#') Conviértete en profesor
    li: a(href='#') Contacto
  p.footer__copyright &copy; by Equipo 3